html {
  height: 100%;
  font-family: "Century Gothic", "Arial Narrow", sans-serif;
}

body {
  background: #F4F4F4;
  color: #212121;
  height: 100%;
  margin: 0;
  overflow: auto;
  padding: 0;
}

/* Navigation */
nav.navigation-top .brand-logo img {
  max-width: 54px;
  position: relative;
  top: 5px;
}

table {
  margin: 1em;
  width: calc(100% - 2em);
}
table tr {
  border: none !important;
}
table td {
  border: 1px dotted #ccc;
}
table td.axis {
  border: none;
  color: #aaa;
  font-size: small;
}
table td.start {
  background: #06f;
  color: #f4f4f4;
}
table td.end {
  background: #e10;
  color: #f4f4f4;
}
table td.step {
  background: #390;
  color: #f4f4f4;
}
table td.obstacle {
  background: #666;
  color: #f4f4f4;
}
